.results {
  display: flex;
  flex-direction: column;
  gap: 10px;

  margin: 0;
  padding: 0;
}

.results li {
  display: flex;
  flex-direction: row;
  gap: 4px;

  list-style-type: none;
}

.results li input {
  margin: 0 10px 0 0;
  padding: 0;
}
